/*CSS para formularios*/
input:focus, textarea:focus, isindex:focus, keygen:focus, select:focus {
	outline: none;
}
fieldset {
	padding: 20px 10px;
	width: 840px;
	border: 0;
}

h2#form-description {
	margin-right: 50px;
}

form.forms h2 {
	clear: right;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	color: #e15407;
	font-style: italic;
	/*text-shadow: 1px 1px #333;*/
}

form.forms h3 {
	font-size: 18px;
	color: #333333;
	font-style: italic;
	/*text-shadow: 1px 1px #333;*/
}

form.forms legend {
	color: #e15407;
}

form.forms {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 20px;
}

input.input-text {
	border: none;
	background-image: url("/media/images/bg_input_grey_28x320.jpg");
	background-repeat: no-repeat;
	width: 310px;
	height: 28px;
	padding: 1px 10px;
	font-size: 18px;
	color: #333333;
}

input.input-text:focus {
	background-image: url("/media/images/bg_input_grey_focus_28x320.jpg");
}

select, input.input-text {
	margin-bottom: 10px;
}

input.save-button {
	display: block;
	color: #333;
	border: none;
	background-image: url("/media/images/bg_input_white_24x280.jpg");
	background-repeat: no-repeat;
	width: 280px;
	height: 24px;
	margin: auto;
	margin-top: 30px;
}

textarea.txt-area {
	border: none;
	background-image: url("/media/images/bg_textarea.jpg");
	background-repeat: no-repeat;
	width: 320px;
	height: 100px;
}

form.forms a {
	font-size: 12px;
}

form#search-form {
	text-align: center;
}

span.helptext{
	font-size: 10px;
	color: #000000;
}

ul.errorlist {
	float: right;
	list-style: none;
	margin: 22px 0 0 0;
}

ul.errorlist li {
	/*background: url('/media/images/bg_error_msg.gif') repeat-x;*/
	background: #FF0000 url('/media/images/flecha_error.gif') no-repeat;
	height: 28px;
	padding: 4px 4px 0 34px;
	color: white;
}
