/***CSS for IE7***/
/* Begin Typography & Colors */

a img {
	border: none;
}

div.advertencia {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #222;
	background-color: #E15407;
	border:1px dashed #F00; 
	background-image: url('/media/images/advertencia.gif');
	background-position: left top;
	background-repeat: no-repeat;
}
/* End Typography & Colors */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Structure */

div.advertencia {
	position: absolute;
	z-index: 1000;
	padding: 4px;
	width: 100%;
}

div.advertencia p {
	margin: 4px 20px 4px 40px;
	float: left;
}

div#users {
	height: 40px;
}

div#wrapper_header, div#footer {
	text-align: center;
}

div#header {
	padding-top: 16px;
}

div#central-content {
	text-align: center;
}

h3#search-h3 {
	text-align: center !important;
}

div#company_data, h3 {
	text-align: left !important;
}

form.forms {
	text-align: left;
}

ul.dropdown {
	position: absolute;
}

ul.dropdown li a{  
    padding: 0 !important; 
    margin: 0;
}  

ul.dropdown li {
	padding: 0 !important;
	margin:0;
}

form#search-form {
	width: 644px;
}

input#search-box {
	width: 590px !important;
}

div.resultado {
	text-align: left;
}

div.social {
	display: inline;
}
/* End Structure */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/*Begin Headers */

/* End Headers */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Images */

div.advertencia img {
	float: right;
}
/* End Images */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Lists

 /* End Entry Lists */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Form Elements */

/* End Form Elements */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Comments*/

/* End Comments */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Sidebar */

/* End Sidebar */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Various Tags & Classes */

/* End Various Tags & Classes*/

