/***CSS for IE7***/
/* Begin Typography & Colors */

a img {
	border: none;
}
/* End Typography & Colors */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Structure */

div#users {
	height: 40px;
}

div#wrapper_header, div#footer {
	text-align: center;
}

div#header {
	padding-top: 16px;
}

div#central-content {
	text-align: center;
}

h3#search-h3 {
	text-align: center !important;
}

div#company_data, h3 {
	text-align: left !important;
}

form.forms {
	text-align: left;
}

ul.dropdown {
	position: absolute;
}

ul.dropdown li a{  
    padding: 0 !important; 
    margin: 0;
}  

ul.dropdown li {
	padding: 0 !important;
	margin:0;
}

form#search-form {
	width: 644px;
}

input#search-box {
	width: 590px !important;
}

div.resultado {
	text-align: left;
}

div.social {
	display: inline;
}
/* End Structure */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/*Begin Headers */

/* End Headers */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Images */

/* End Images */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Lists

 /* End Entry Lists */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Form Elements */

/* End Form Elements */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Comments*/

/* End Comments */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Sidebar */

/* End Sidebar */
/**************************************************************
 ***************************************************************
 ***************************************************************/
/* Begin Various Tags & Classes */

/* End Various Tags & Classes*/

