/******page detail******/

div#logo {
	width: 100px;
}

div#data {
	float: right;
	width: 760px;
}

div#data h3 {
	text-transform: uppercase;
}

div#data p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div#tab-service-map {
	clear: right;
	width: 100%;
	background-color: #222;
	padding: 14px 0;
	margin: auto;
}

div#tab-service-map ul{
	list-style: none;
	padding: 0;
	margin: 0 10px;
}

div#tab-service-map li {
	display: inline;
	padding: 15px 36px;
	height: 30px;
}

div#tab-service-map a {
	color: #eee;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}

li#selected {
	background: url("/media/images/indicador.jpg") center 9px no-repeat;
}
