/******page detail******/

div#company_data p{
	text-align: right;
}

p.items {
	text-align: left !important;
}

div.ficha-empresa {
	float: right;
	width: 300px;	
}

div.ficha-empresa h2 {
	font-size: 14px;
}

div#promo-resultados-patrocinados {
	text-align: center;
}

div#promo-resultados-patrocinados a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	background: url("/media/images/boton-con-tres-flechas.jpg") no-repeat;
	width: 200px;
	height: 60px;
	display: block;
	clear: right
}

div#promo-resultados-patrocinados a span {
	height: 60px;
	margin-left: 40px;
	padding-top: 21px;
	display: block;
}

div#promo-inscripcion, div#promo-resultados-patrocinados {
	width: 200px;
	height: 300px;
	padding: 10px 20px;
}

div#promo-inscripcion {
	background: url("/media/images/boton-nueva-ficha.jpg") no-repeat 20px 20px;
}

div#promo-inscripcion a{
	display: block;
	text-decoration: none;
	text-align: center;
	height: 280px;
	color: #ddd;
	text-shadow: 1px 1px #333;
}

div#promo-inscripcion span{
	display: block;
}

div#promo-inscripcion span#deseas {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin:30px 0 120px 0;
}

div#inscribite {
	font-size: 22px;
	margin-top: 20px;
}

div#logo {
	width: 100px;
	margin: 20px 30px 0 0;
}

div#data {
	width: 490px;
}

div#data h3 {
	text-transform: uppercase;
	padding: 0 0 4px 4px;
	border-bottom: 1px solid #333;
}

div#data p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 4px;
}

div#data p strong {
	width: 120px;
	display: inline-block;
}

div#tab-service-map {
	width: auto;
	height: 36px;
	clear: right;
	background-color: #222;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div#tab-service-map .inbar {
	display: block;
	height: 36px;
}

div#tab-service-map ul, div#tab-service-map li{
	border: 0 none;
	height: 36px;
	line-height: 36px;
	list-style: none outside none;
	margin: 0;
	padding: 0;	
}

div#tab-service-map ul li {
	display: block;
	float: left;
	line-height: 36px;
}

div#tab-service-map a {
	text-decoration: none;
	display: block;
	color: white;
}

span.inbar ul li a span {
	height: 36px;
	line-height: 36px;
	/*margin-left: 20px;
	padding: 0 20px 0 0;*/
	padding: 0 30px;
}

a#selected {
	background: url("/media/images/indicador.jpg") #e15407 center center no-repeat;
}

div#services h3 {
	visibility: hidden;
	font-size: 8px;
}

div.services-results {
	padding: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div.services-results ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.services-results ul li {
	margin: 0;
	padding: 0;
}

li.status {
	float: right;
}

div.par {
	background-color: #eef;
}

div.services-results a {
	display: inline-block;
	width: 220px;
}

a.service-name {
	text-decoration: none;
	color: #333;
}

a#agregar-servicio {
	color: #E15407;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-right: 10px;
}

a#agregar-servicio:hover {
	color: #e11107;
}
