form#search-form {
	width: 641px;
	margin: auto;
}

input#search-box {
	background-image: url("/media/images/search_big.jpg");
	background-repeat: no-repeat;
	width: 580px;
	height: 39px;
	font-size: 24px;
	float:left;
}

input#btn-search {
	
}

div#central-content h3, div#central-content h4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #434343;
	font-size: 14px;
	text-shadow: none;
	font-style: oblique;
	text-align: center;
	margin: 22px 0 50px 0;
}

div.resultado ul{
	list-style: none;	
	border-top: 1px solid #999;
	padding: 5px 10px;
	margin: 5px;
	color: #666666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div.resultado li {
	padding: 0;
	width: 400px;
}

div.resultado b {
	color: #E15407;
}

li.resultado-web {
	color: #008000;
}

li.resultado-logo {
	float: right;
	width: 80px !important;
}
