div#search-form {
	width: 641px;
	margin: auto;
}

input#search-box {
	background-image: url("/media/images/search_big.jpg");
	background-repeat: no-repeat;
	border: 0px;
	width: 570px;
	padding-left: 10px;
	height: 37px;
	font-size: 24px;
	float:left;
	color: #121212;
}

input#btn-search {
	
}

div#search-form h3, div#search-form h4 input#search-box {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div#search-form h3, div#search-form h4 {
	color: #434343;
	font-size: 14px;
	text-shadow: none;
	font-style: oblique;
	text-align: center;
	margin: 12px 0 50px 0;
}

#spinner {
  display: none;
  position: relative;
}

ul.resultado {
	list-style: none;	
	border-top: 1px solid #999;
	padding: 5px 10px;
	margin: 5px;
	color: #666666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

li.resultado {
	padding: 0;
	width: 400px;
}

div.resultado b {
	color: #E15407;
}

ul.resultado {
	margin: 0 !important;
	padding: 0;
	text-align: left !important;
}

ul.resultado {
	font-size: 12px;
}


li.resultado-nombre {
	list-style-image: url("/media/images/icono-lapiz.jpg");
}

li.resultado-nombre a {
	font-size: 18px;
}


li.resultado-direccion {
	list-style-image: url("/media/images/icono-casa.jpg");
}

li.resultado-tel {
	list-style-image: url("/media/images/icono-cel.jpg");
}

li.resultado-mail {
	list-style-image: url("/media/images/icono-mail.jpg");
}

li.resultado-web {
	list-style-image: url("/media/images/icono-web.jpg");
}

li.resultado-web {
	color: #008000;
}

li.resultado-nombre, li.resultado-direccion, li.resultado-tel, li.resultado-mail, li.resultado-web {
	margin-top: 2px;
	margin-left: 36px;
	padding-bottom: 8px !important;
}

li.resultado-logo {
	float: right;
	width: 80px !important;
}

li.resultado-dato {
	display: block;
	float: left !important;
}


div.note {
  padding: 15px;
  background: #FFFFD4;
  border: 1px solid #DDDDB2;
}