{% extends 'base.html' %}
{% block contenido %}
{% load staticfiles %}
        <div class="row" id="contenedor-principal">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-6 col-lg-6">
                <form class="form" id="busqueda-form" method="GET" enctype="multipart/form-data" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="caja-busqueda">Busc&aacute; lo que necesit&aacute;s:</label>
                        <input type="text" class="form-control input-lg" id="caja-busqueda">
                    </div>
                    <input type="submit" class="btn btn-danger btn-block pull-right" value="Buscar !!!">
                </form>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row" id="phone-markets">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-2 col-lg-2"><img src={% static "img/firefox.png" %} alt="Firefox MarketPlace"></div>
            <div class="col-md-2 col-lg-2"><img src={% static "img/apple.png" %} alt="App Store"></div>
            <div class="col-md-2 col-lg-2"><img src={% static "img/windowsphone.png" %} alt="Windows Phone Store"></div>
            <div class="col-md-2 col-lg-2"><img src={% static "img/android.png" %} alt="Google Play"></div>
            <div class="col-md-2 col-lg-2"></div>
        </div>
{% endblock %}