{% extends "base.html" %}
{% load i18n %}

{% block title %}Crear usuario{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/formStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/userBrownserStyles.css" media="all" />
{% endblock %}

{% block content %}
	
	<!--<h3>Crear usuario</h3>-->
	<br />
	<form action="" method="post" class="forms">
		{% csrf_token %}
		<div id="company_data">
			<fieldset id="registro">
				<legend>{% trans "Registrarse" %}</legend>
				{{ form_register.as_br }}
  				<input type="button" value="Siguiente" class="save-button">
			</fieldset>
			<fieldset id="perfil">
				<legend>{% trans "Completar perfil" %}</legend>
				{{ form_perfil.as_br }}
  				<input type="button" value="Siguiente" class="save-button">
			</fieldset>
			<fieldset id="nuevo_servicio">
				<legend>{% trans "Agregar nuevo servicio" %}</legend>
				{{ form_servicio_nuevo.as_br }}
  				<input type="submit" value="Finalizar" class="save-button">
			</fieldset>
		</div>
	</form>

{% endblock %}