{% extends "base.html" %}
{% load i18n %}

{% block title %}Crear usuario{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/formStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/userBrownserStyles.css" media="all" />
{% endblock %}

{% block content %}
	
	<!--<h3>Crear usuario</h3>-->
	<br />
	<form action="" method="post" class="forms">
		{% csrf_token %}
		<div id="company_data">
			<fieldset>
				<legend>{% trans "Registrarse" %}</legend>
				{{ form.as_br }}
  				<input type="submit" value="Crear" class="save-button">
			</fieldset>
		</div>
	</form>

{% endblock %}