
	<div id="users" class="marca">
		{% if user.is_authenticated %}
			<ul class="dropdown">
				<li class="active"><img src="/media/images/engranaje.png" alt="Icono engranaje"/><span>Bienvenido, </span><span id="user-name">{{ user.username }}...</span></li>
				<li class="first"><a href="/{{user.id}}/modificar/">Modificar perfil</a></li>
				<li><a href="/usuario/servicios/nuevo_servicio/">Agregar servicio</a></li>
				<li><a href="#">Otra posible opci&oacute;n</a></li>
				<li class="last"><a href="/users/logout/">Salir</a></li>
			</ul>
		{% else %}
		  <ul class="dropdown access">
				<li class="active"><img src="/media/images/engranaje.png" alt="Icono engranaje"/><span>Bienvenido, <a href="/registro/">puedes registrarte</a> o bien, puedes <a href="/login/">acceder...</a></span></li>
			</ul>
		{% endif %}
	</div>
	{% block js %}
	<script type="text/javascript" src="/media/js/dropdown.js"></script>
	{% endblock %}
