{% extends "base.html" %}
{% load i18n %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/formStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/userBrownserStyles.css" media="all" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="/media/js/dropdown.js"></script>
{% endblock %}

{% block user %}
	<div id="users">
		{% if user.is_authenticated %}
			<ul class="dropdown">
				<li class="active"><img src="/media/images/engranaje.png" alt="Icono engranaje"/><span>Bienvenido, </span><span id="user-name">{{ user.username }}...</span></li>
				<li class="first"><a href="#">Modificar perfil</a></li>
				<li><a href="/empresa/">Agregar servicio</a></li>
				<li><a href="#">Otra posible opci&oacute;n</a></li>
				<li class="last"><a href="/logout/">Salir</a></li>
			</ul>
		{% else %}
		  <ul class="dropdown access">
				<li class="active"><img src="/media/images/engranaje.png" alt="Icono engranaje"/><span>Bienvenido Vistante, <a href="/registro/">puedes registrarte</a> o bien, puedes <a href="/login/">acceder...</a></span></li>
			</ul>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
        <form method="post" action="/login/" id="loginform">
        	<fieldset>
        		<legend>{% trans "Entrar" %}</legend>
        		{% if error %}
                <p id="errorholder">
				  {% if form.errors %}
				    <p class="error">Sorry, that's not a valid username or password</p>
				  {% endif %}

                </p>
            {% endif %}
            {{ form.as_br }}
            <p>
                <button name="login" id="login" value="entrar" type="submit"> {% trans "Entrar" %}!</button>
            </p
        	</fieldset>
        </form>
{% endblock %}
