{% extends "base.html" %}
{% load i18n %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/formStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/userBrownserStyles.css" media="all" />
{% endblock %}

{% block content %}
        <form method="post" action="/login/" id="loginform" class="forms">
        	<fieldset>
        		<legend>{% trans "Entrar" %}</legend>
        		{% if error %}
                <p id="errorholder">
				  {% if form.errors %}
				    <p class="error">Sorry, that's not a valid username or password</p>
				  {% endif %}
                </p>
            {% endif %}
            {{ form.as_br }}
                <input name="login" id="login" class="save-button" value="{% trans "Entrar" %}!" type="submit">
        	</fieldset>
        </form>
{% endblock %}