{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ empresa }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/standarStyles.css" media="all" />
{% endblock %}

{% block content %}
<div id="company_data">
    <h3>{{ empresa.nombre }}</h3>
    <h3>Servicio</h3>
    <h3>{{ servicio.nombre }}</h3>
    <p><strong>{% trans "Description" %}: </strong> {{ servicio.descripcion }}</p>
	<p><strong>{% trans "Tags" %}: </strong> {{ servicio.tags }}</p>
</div>
<p class="form-buttons">
	<input class="save-button" type="submit" value="{% trans "Modificar" %}"/>
	<a class="cancel-button" href="#">{% trans "Cancel" %}</a>
</p>
{% endblock %}
