{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ empresa }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/standarStyles.css" media="all" />
{% endblock %}

{% block content %}
<div id="company_data">
    <h3>{{ empresa.nombre }}</h3>
    <p><strong>{% trans "Description" %}: </strong> {{ empresa.domicilio }}</p>
	<p><strong>{% trans "Telefono" %}: </strong> {{ empresa.telefono }}</p>
	<p><strong>{% trans "Celular" %}: </strong> {{ empresa.celuldar }}</p>
	<p><strong>{% trans "E-Mail" %}: </strong> {{ empresa.mail }}</p>
	<p><strong>{% trans "Descripcion" %}: </strong> {{ empresa.descripcion }}</p>
 
	{% ifequal empresa.user request.user  %}
    	<p><a href="{% url nuevo-servicio empresa.slug %}">Agregar Servicios</a></p>
	{% endifequal %}
	
 	<h3>Servicios</h3>
 	
   {% for servicio in servicios %}
		<a href="{{ servicio.get_absolute_url }}">
		<div style="float:left;padding: 4px">
		{{ servicio }}<br />
		Created by: <a href="{{ servicio.user.get_absolute_url }}">{{ servicio.user }}</a><br />

		</div>
   {% endfor %}  

</div>

{% endblock %}

