<!--
	***Company singup***
	Falta definir la funcionalidad javascritp para darle dinamismo al
	formulario, igualmente sirve para hacer pruebas sencillas
-->
{% extends "base.html" %}

{% load i18n %}

{% block title %}Mantenimiento Empresa{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/formStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/userBrownserStyles.css" media="all" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="/media/js/dropdown.js"></script>
{% endblock %}

{% block user %}
	<div id="users">
		{% if user.is_authenticated %}
			<ul class="dropdown">
				<li class="active"><img src="/media/images/engranaje.png" alt="Icono engranaje"/><span>Bienvenido, </span><span id="user-name">{{ user.username }}...</span></li>
				<li class="first"><a href="#">Modificar perfil</a></li>
				<li><a href="/empresa/">Agregar servicio</a></li>
				<li><a href="#">Otra posible opci&oacute;n</a></li>
				<li class="last"><a href="/logout/">Salir</a></li>
			</ul>
		{% else %}
		  <ul class="dropdown access">
				<li class="active"><img src="/media/images/engranaje.png" alt="Icono engranaje"/><span>Bienvenido Vistante, <a href="/registro/">puedes registrarte</a> o bien, puedes <a href="/login/">acceder...</a></span></li>
			</ul>
		{% endif %}
	</div>
{% endblock %}
{% block content %}

<h2>¡Ahora ingresa los datos de la nueva empresa!</h2>

<form class="forms" method="post" id="form_company_singup">
	<div id="company_data">
		<h3>Nueva Empresa</h3>
      
		{{ form.nombre.label_tag }}<br />
		{{ form.nombre }}<br />
		<span>{{ form.nombre.help_text }}</span>
		{% if form.nombre.errors %}<span class="error_msg">{{ form.nombre.errors|join:"; " }}</span>{% endif %}

		{{ form.domicilio.label_tag }}<br />
		{{ form.domicilio }}<br />
		<span>{{ form.domicilio.help_text }}</span>
		{% if form.domicilio.errors %}<span class="error_msg">{{ form.domicilio.errors|join:"; " }}</span>{% endif %}

		{{ form.telefono.label_tag }}<br />
		{{ form.telefono }}<br />
		<span>{{ form.telefono.help_text }}</span>
		{% if form.telefono.errors %}<span class="error_msg">{{ form.telefono.errors|join:"; " }}</span>{% endif %}

		{{ form.celular.label_tag }}<br />
		{{ form.celular }}<br />
		<span>{{ form.celular.help_text }}</span>
		{% if form.celular.errors %}<span class="error_msg">{{ form.celular.errors|join:"; " }}</span>{% endif %}

	    {{ form.mail.label_tag }}<br />
	    {{ form.mail }}<br />
	    <span>{{ form.mail.help_text }}</span>
	    {% if form.mail.errors %}<span class="error_msg">{{ form.mail.errors|join:"; " }}</span>{% endif %}

		{{ form.descripcion.label_tag }}<br />
		{{ form.descripcion }}<br />
		<span>{{ form.descripcion.help_text }}</span>
		{% if form.descripcion.errors %}<span class="error_msg">{{ form.descripcion.errors|join:"; " }}</span>{% endif %}

 	{{ form.step }}
  	<p class="form-buttons">
		<input class="save-button" type="submit" value="{% trans "Agregar Empresa" %}"/>
		<a class="cancel-button" href="#">{% trans "Cancel" %}</a>
	</p>
	</div>
</form>
	
{% endblock %}
