<!--
	***Company singup***
	Falta definir la funcionalidad javascript para darle dinamismo al
	formulario, igualmente sirve para hacer pruebas sencillas
-->
{% extends "base.html" %}

{% load i18n %}

{% block title %}Mantenimiento Empresa{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/standarStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/userBrownserStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/formStyles.css" media="all" />
{% endblock %}

{% block content %}

<h2>Ahora ingresa los datos del servicio</h2>
<form class="forms" method="post" id="form_company_singup">
	
	<div class="service">
		<p><strong>{% trans "Empresa" %}: </strong> {{ empresa.nombre }}</p>
			
		<h3>Servicios</h3>
		<label>Nombre</label><br />
		<input type="text" class="input-text" name="nombre" id="nombre" value="{{ nombre }}" /> <br />
		<label>Descripcion</label><br />
		<textarea rows="10" class="txt-area" cols="40" name="descripcion"> {{ descripcion }} </textarea><br />
		<label>Tags</label><br />
		<textarea rows="10" class="txt-area" cols="40" name="tags"> {{ tags }} </textarea><br />
	</div>
  <p class="form-buttons">
  <input class="save-button" type="submit" value="Modificar Servicio"/>
  <a class="cancel-button" href="javascript:window.history.back();">{% trans "Cancel" %}</a>
  </p>
  	

</form>
	
{% endblock %}
