{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ empresa }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="media/css/formStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/userBrownserStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/pageDetailServicio.css" media="all" />
{% endblock %}

{% block content %}
	<div id="company_data">
		<div id="company">
			<div class="ficha-empresa" id="data">
			
			    <h3>{{ empresa.nombre }}</h3>
	
			    <p class="items"><strong>{% trans "Servicio" %}: </strong> {{ servicio.nombre }}</p>
			    <p class="items"><strong>{% trans "Description" %}: </strong> {{ servicio.descripcion }}</p>
			    <h3>Contacto</h3>
	    		<p class="items"><strong>{% trans "Domicilio" %}: </strong> {{ empresa.domicilio }}</p>
				<p class="items"><strong>{% trans "Telefono" %}: </strong> {{ empresa.telefono }}</p>
				<p class="items"><strong>{% trans "Celular" %}: </strong> {{ empresa.celular }}</p>
				<p class="items"><strong>{% trans "E-Mail" %}: </strong> {{ empresa.mail }}</p>
				{% ifequal servicio.user request.user  %}
					<p><a href="{% url modificar-servicio empresa.slug servicio.slug %}" id="modificar-servicio">Modificar</a></p>
				{% endifequal %}
			</div>
	
		</div>
	</div>	

{% endblock %}
