
{% if results|length %}   

	{% for servicio in results %}
   		<ul class="resultado">
   			<li class="resultado-logo">
				{% if servicio.empresa.logo %}
					<img src="{{ servicio.empresa.logo.url_80x80 }}" alt="Logo de la empresa" />
				{% else %}				
					<img src="media/images/no-logo.jpg" alt="Sin logo" />
				{% endif %}	   				
   			</li>
   			<li class="resultado-nombre">
   				<h4 class="resultado-dato">
   					<a  href="{{ servicio.empresa.get_absolute_url }}"> {{ servicio.empresa.nombre }}</a>
   			- <a href="{{ servicio.get_absolute_url }}"> {{ servicio.nombre }} </a>
   				</h4>
   			</li>
   			<li class="resultado-direccion">
   				Direccion.: {{ servicio.empresa.domicilio }}
   			</li>
   			<li class="resultado-tel">
   				<i class="resultado-dato">Telefono.: {{ servicio.empresa.telefono }} - Celular.: {{ servicio.empresa.celular }}</i>
   			</li>
   			<li class="resultado-mail">
   				<i class="resultado-dato">Mail.: {{ servicio.empresa.mail }}</i>
   			</li>
   			<li class="resultado-web">
   				{% if servicio.empresa.web %}
   					<i><a  class="resultado-dato" href="{{ servicio.empresa.web }}"> {{ servicio.empresa.web }}</a></i>
   				{% else %}
   					<i class="resultado-dato">No tiene web</i>
				{% endif %}
   			</li>
   		</ul>
	{% endfor %}
{% else %}
	<div class="note">
		Your search yielded no results
	</div>
{% endif %}   
	