{% extends "base.html" %}

{% load i18n %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="/media/css/formStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/media/css/searchStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/media/css/userBrownserStyles.css" media="all" />
{% endblock %}

{% block content %}


<div id="search-form">
	<h3 id="search-h3">Puedes buscar empresas, servicios y profesionales en Salto...</h3>
		
	<input id="search-box" type="text" placeholder="Ingrese el Servicio a buscar.."/>
	<input type="image" value="Go" id="btn-search" src="/media/images/btn_search_dark.jpg"/>
	<br/>
	<div class="margin">
		<span id="spinner"><img src="media/images/spinner.gif"/></span>
		<div class="resultados-patrocinados">
			<h4>...o simplemente ojear la lista de abajo.</h4>
			<div id="results"></div>
		</div>
	</div>
</div>	
{% endblock %}


{% block js %}
	
	
	<script type="text/javascript">
	$( document ).ready( function() {
		$( '#btn-search' ).click( function() {
			q = $( '#search-box' ).val();
			q = q.replace(" ","-");
			$( '#results' ).html( '&nbsp;' ).load( '{% url new-search %}?q=' + q );
		});
	});
	

 
	$( document ).ajaxStart( function() {
		$( '#spinner' ).show();
	}).ajaxStop( function() {
		$( '#spinner' ).hide();
	});
	
	jQuery(function($){
	    var list_tags = [];
	    q = $( '#search-box' ).val();
	    function get_tags(){
	        list_tags=[];
	        var url = 
	        jQuery.ajax({ 
	            url:'/search/get_tags/',
	            dataType: 'json',
	            async: false,
	            cache: false,
	            success: function(rs){
	               jQuery.each(rs, function(i,json){
	                   list_tags.push(json);
	               });
	            }
			
	        });
	    }
	

		$("#search-box").keyup(function(){
	 		$("#search-box").autocomplete({source: list_tags});
		});
		
	    get_tags();
	
	});	
	</script>

	
{% endblock %}	