{% extends "base.html" %}

{% load i18n %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="media/css/formStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/media/css/searchStyles.css" media="all" />
	<link rel="stylesheet" type="text/css" href="media/css/userBrownserStyles.css" media="all" />
{% endblock %}

{% block content %}

	
	<h3>Puedes buscar empresas, servicios y profesionales en Salto...</h3>
	<form action=""  enctype="text/plain" id="search-form">
		{{ form.search }}
		<input type="image" value="Go" id="btn-search" src="/media/images/btn_search_dark.jpg"/>
	</form>
	<h4>...o simplemente ojear la lista de abajo.</h4>
	<div class="resultados-patrocinados">
		<div class="resultado">
	   {% for servicio in servicios %}
	   		<p>
	   			<b><a href="{{ servicio.empresa.get_absolute_url }}"> {{ servicio.empresa.nombre }}</a>
	   			</b> - <a href="{{ servicio.get_absolute_url }}"> {{ servicio.nombre }} </a> <br />
	   			Direccion.: {{ servicio.empresa.domicilio }} <br />
	   			<i>
		   			Telefono.: {{ servicio.empresa.telefono }} - Celular.: {{ servicio.empresa.domicilio }}<br />
		   			Mail.: {{ servicio.empresa.mail }}
   				</i>
   			</p>

	   {% endfor %}  			
			<!--resultado harcodeado que tiene que ser sustituido por
				variables de la vista correspondiente-->

		</div>
	</div>
{% endblock %}
